body{
	background-color:#EDF5E1;
}
.outside{
	margin-top:140px;
	border:1px solid black;
	margin-left:500px;
	margin-right:500px;
	background-color:white;
}
h3{
	background-color:#d1e6b3;
	font-size:32px;
	letter-spacing:1px;
	font-family:cambria;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:0px;
	margin-top:0px;
	text-decoration:bold;
}
table{
	padding-bottom:0px;
	margin-bottom:15px;
}
a{
	text-decoration:none;
	color:black;
}
select{
	width:90%;
	padding:7px 22px;
	margin: 8px 0;
	box-sizing:border-box;
	border-color:black;
	border-radius:6px;
	display: inline-block;
}
td{
	font-size:18;
	letter-spacing:1px;
}
.btn{
	margin-bottom:10px;
	padding-bottom:0px;
	font-size:16px;
	width:130px;
	height:45px;
	letter-spacing:1px;
	margin-right:0px;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid #008CBA;
	background-color: white; 
	color: black; 
}
.btn:hover{
	background-color: #008CBA;
	color: white;
}
