div{
	text-align:center;
	border:1px solid black;
	margin-top:70px;
	padding-top:0px;
	margin-left:530px;
	margin-right:530px;
	background-color:white;
}
table{
	padding-top:0px;
	margin-top:0px;
}
th{
	font-size:35px;
	background-color:#008CBA;
	letter-spacing:1px;
	font-family:verdana;
	margin-bottom:50px;
	padding-bottom:10px;
	padding-top:10px;
}
body{
	background-color:#EDF5E1;
}
.logoutbtn{
	margin-bottom:0px;
	padding-bottom:10px;
	padding-top:0px;
	margin-top:0px;
	font-size:16px;
	width:110px;
	height:50px;
	letter-spacing:1px;
	float:right;
	margin-right:10px;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid #008CBA;
	background-color: white; 
	color: black; 
}